<!DOCTYPE html>
<html>
<head>
    <title>Get Rate</title>
    <% include ../partials/header.ejs %>
</head>
<body>
    <h1>You accessed this page via GET request</h1>
    <p>Weight: {{ weight }}</p><br>
    <p>MailType: {{ mailType }}</p><br>
</body>
</html>