<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <% include ../partials/header.ejs %>
  

</head>

<body>
  <h1>Test HTML Page with EJS extension</h1>
  <form>
   
  </form>

</body>
</html>
